@media (max-width: 1130px) {
    #skills {
      flex-direction: column;
      min-height: 100%;
      width: 100%;
    }
  
    #skills-responsive {
      flex-direction: column;
      min-height: 100%;
    }
  }
  